@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'SegoeUI';
    src: local('SegoeUI'), url(./fonts/Segoe-UI.ttf) format('truetype');
  }  
  
@tailwind base;
@tailwind components;
@tailwind utilities;
